/* CSS để tùy chỉnh style cho thanh kéo */
.price-slider {
    width: 80%; /* Độ rộng của thanh kéo */
    margin: 20px auto; /* Canh giữa thanh kéo */
}

form-range::-webkit-slider-thumb {
    -webkit-appearance: none; /* Ẩn giao diện mặc định của con trỏ kéo */
    width: 20px; /* Độ rộng của con trỏ kéo */
    height: 20px; /* Độ cao của con trỏ kéo */
    border-radius: 50%; /* Bo tròn con trỏ kéo để tạo hình dạng hình tròn */
    background-color: #007bff; /* Màu nền của con trỏ kéo */
    cursor: pointer; /* Chỉ số trỏ khi di chuột vào con trỏ kéo */
}

.form-label {
    display: block; /* Hiển thị nhãn dưới dạng block */
    margin-top: 10px; /* Khoảng cách từ nhãn đến thanh kéo */
    text-align: center; /* Căn giữa nội dung của nhãn */
}
